@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
nav{
    background-color:rgb(31, 91, 37);
    height: 60px;
    padding: 15px;
}

a{
    color: white;
    text-decoration: none;
    padding: 5px;
}

body{
    margin: 0;
    background-color: rgb(251, 239, 219);

}

header{
    background-image: url();
}


.fooldal{
    background-image: url(../Képek/főoldal/back.jpg);
    height: 964px;
    background-position: center;
    background-size: cover;
}
#Fh2{
    color: white;
    font-family: 'Fredericka the Great';
}
#Fmain{
    background-color: rgba(0, 0, 0, 0.8);
    width: 652px;
    height: 450;
}
#Fposition{
    padding-top: 260px;
    margin-left: 200px;
}
.Fp{
    color: white;
}


h1{font-family: 'Fredericka the Great', serif;}

.banner{
    background-image: url(../Képek/kavenoveny-termesztes.jpg);
    background-position: center center;
    background-size: cover;
    height: 400px;
}
h1{
    font-family: 'Fredericka the Great',cursive;
    color: #1F5B25;
    text-align: center;
}
.kave{
    color: #1F5B25;
    background-color: #fff;
    border: 1px solid #1F5B25;
    border-radius: 4px;
    margin-bottom: 1rem;
}
.kave:hover{
    box-shadow: 0px 0px 5px #1F5B25;
}
.kave h2{
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-variant: small-caps;
}